doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		a(href=`https://area34.smp.ne.jp/area/cl/174095/878N8J42IhB1/M?S=lerhm8pfrf` target='_blank')
			image(src=`https://nyukai.online-a.com/acwebp/staticcontents/pc/img/header/header_identity.gif`)
		block content
